locals {
  api_creds = {
    api_url    = ""
    api_key    = ""
    secret_key  = "" 
  }

  defaults = {
    service_offering = "",
    network_id       = "",
    template         = "",
    zone             = ""
  }

  home_ip = ""
}